.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.todo-container,
.calendar-container {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 100vh;
}

.toggle-view-btn {
  position: absolute;
  top: 10px;
  right: 5%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.toggle-view-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .todo-container,
  .calendar-container {
    width: 100vw;
    height: calc(100vh - 50px); /* Subtracting height for the button */
    padding: 10px;
  }
  
  .app-container {
    justify-content: flex-start; /* Align at the top */
    position: fixed;
  }
}
