/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  box-sizing: border-box;
}

.todo-container {
  width: 40%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing:border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 100vh;
}

.calendar-container {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .todo-container,
  .calendar {
    width: 100%;
    padding: 10px;
  }
}
