/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
}

.todo-container {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .todo-container,
  .calendar {
    width: 100%;
    padding: 10px;
  }
}
